/*  typography */
body {
  line-height: 1.6;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  font-weight: 400;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
  a {
    color: inherit;
    line-height: 1.4;
    display: inline-block;
    &:hover {
      color: $primary-color;
    }
  }
}

h1, .h1{
  font-size: 48px;
}

h2, .h2{
  font-size: 36px;
  @include mobile {
    font-size: 28px;
  }
}

h3, .h3{
  font-size: 28px;
}

h4, .h4{
  font-size: 20px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 16px;
}
