<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>winSOL.. unlocking 2022-08-12</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">
    {{ partial "style.html" . }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/brands.min.css" integrity="sha512-sKhd1NGM4i4pJj+3P+NVHisu2z5rKAwNG1IpWMdKsFWYlUHFSrsAO3geQ5QNKttkMPZNTo76tfg8jVx2ICP7qw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background:#000;color:#fff;display:flex;font-size:28px;font-family:'Shadows Into Light', serif; align-items:center;justify-content: center; min-height:100vh">
<div style="max-width:500px;text-align:center">
    {{ $image := resources.Get "images/e9140214-9a1a-4c13-9ada-53de1ca36479_jp123__slanacompass.com_a_padlocked_treasure_chest_with_a_faint_light_glowing_from_inside_sat_in_the_corner_of_a_dark_dusty_.png" }}
    <img src="{{ $image.RelPermalink  }}" style="width:100%">
    <p>winSOL.. unlocking 2022-08-20</p>
    <a href="https://twitter.com/winsol_io" target="_blank"><i class="fab fa-twitter"></i> Follow us</a>
    <a href="https://discord.gg/XkmRQJ5cfq" target="_blank"><i class="fab fa-discord"></i> Join Discord</a>
</div>
<script async src="//static.getclicky.com/245290.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/245290ns.gif" /></p></noscript>

</body>
</html>
