{{ define "main" }}

<main class="section-bordered-even">
  {{ with .Params.banner }}
  <section class="py-5 my-4">
    <div class="container">
      <div class="row justify-content-around align-items-center">
        <div class="col-xxl-5 col-lg-6 col-md-8 text-center text-lg-start mb-5 mb-lg-0">
          <div class="pe-lg-5">
            <h1 class="banner-title text-capitalize mb-3">{{ .Title | markdownify }}</h1>
            <p>{{ .subtitle | markdownify }}</p>

<!--
            {{ if .Params.deposit.enable }}
            <form action="{{.form_action}}" class="banner-form mt-4">
              <div class="input-group border p-2 rounded-sm">
                <input type="text" class="form-control shadow-none rounded-sm bg-transparent border-0 text-dark" placeholder="{{ i18n `email_address` }}" aria-label="Email Address" aria-describedby="email-address">
                <button type="submit" class="input-group-text btn btn-primary rounded" id="email-address-b">{{ i18n `get_started` }}</button>
              </div>
            </form>
            {{ end }}
-->
          </div>
        </div>
        <div class="col-lg-6" >
          <div class="banner-image">
            {{$c_img:= resources.Get (.character_image) }}
            {{$c_img:= $c_img.Resize "460x webp"}}
            <img loading="lazy" decoding="async" class="character jumping img-fluid" src="{{$c_img.RelPermalink}}" alt="character_image" width="{{$c_img.Width}}" height="{{$c_img.Height}}">
{{ if .lamp_image }}
            {{$lamp_image:= resources.Get (.lamp_image) }}
            {{$lamp_image:= $lamp_image.Resize "72x webp"}}
            <img loading="lazy" decoding="async" class="lamp img-fluid" src="{{$lamp_image.RelPermalink}}" alt="lamp_image" width="{{$lamp_image.Width}}" height="{{$lamp_image.Height}}">
{{ end }}
            {{ if .cube_image }}
            {{$cube_image:= resources.Get (.cube_image) }}
            {{$cube_image:= $cube_image.Resize "78x webp"}}
            <img loading="lazy" decoding="async" class="cube img-fluid" src="{{$cube_image.RelPermalink}}" alt="cube_image" width="{{$cube_image.Width}}" height="{{$cube_image.Height}}">
{{end}}
            {{ if .chess_image }}
            {{$chess_image:= resources.Get (.chess_image) }}
            {{$chess_image:= $chess_image.Resize "72x webp"}}
            <img loading="lazy" decoding="async" class="chess img-fluid" src="{{$chess_image.RelPermalink}}" alt="chess_image" width="{{$chess_image.Width}}" height="{{$chess_image.Height}}">
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /banner-section -->
  {{ end }}

  {{ with site.GetPage "features" }}
  <!-- features-section -->
<!--  <section  data-aos="fade">
    <div class="container">
      <div class="row align-items-center mb-5">
        <div class="col-lg-8">
          <div class="section-title mb-0">
            <p class="caption">{{ .Title | markdownify }}</p>
            <h2>{{ .Params.heading | markdownify }}</h2>
          </div>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0">
          <div class="text-lg-end">
            <a href="{{ `features` | absLangURL }}" class="btn btn-primary">{{ i18n "all_features" }}</a>
          </div>
        </div>
      </div>
      <div class="row g-4">
        {{ range .Params.features }}
        <div class="col-xl-4 col-lg-6">
          <div class="rounded-sm border bg-white-blur p-4 d-block d-sm-flex align-items-start">

            {{$img:= resources.Get (.image) }}
            {{$img:= $img.Resize "50x webp"}}
            <img loading="lazy" decoding="async" class="img-fluid order-1 mb-3 mb-sm-0" src="{{$img.RelPermalink}}" alt="features image" width="{{$img.Width}}" height="{{$img.Height}}" data-aos="cool">

            <div class="block pe-0 pe-sm-0 order-0">
              <h3 class="h5 mb-3">{{ .title | markdownify }}</h3>
              <p class="mb-0">{{ .description | markdownify }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>-->
  <!-- /features-section -->
  {{ end }}

  {{ if .Params.about_info.enable }}
  {{ with .Params.about_info }}
  <section>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <div class="section-title">
            <p class="caption">{{ .Title }}</p>
            <h2 class="mb-4">{{ .heading | markdownify }}</h2>
            <p class="mb-4">{{ .description | markdownify }}</p>
          </div>
  
          <ul class="check-list">
            {{ range .features_list }}
            <li>{{.}}</li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-4 d-none d-lg-block" >
          {{$img:= resources.Get (.image) }}
          {{$img:= $img.Resize "500x webp"}}
          <img loading="lazy" decoding="async" class="img-fluid" src="{{$img.RelPermalink}}" alt="features image" width="{{$img.Width}}" height="{{$img.Height}}">
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
{{ if .Params.gallery }}

  {{ with site.GetPage "brands-logos" }}
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <p class="caption">{{ .Title }}</p>
          </div>
        </div>
      </div>
      <div class="brand-carousel" data-aos="cool">
        {{ range .Params.partners }}
        <div class="d-flex align-items-center justify-content-center">
          {{$img:= resources.Get (.image) }}
          {{$img:= $img.Resize "100x webp"}}
          <img loading="lazy" decoding="async" class="img-fluid" src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}" alt="partner-image">
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{end}}

  {{ if .Params.about_features.enable }}
  {{ with .Params.about_features }}
  <section>
    <div class="container">
      <div class="row justify-content-center align-items-center mb-4">
        <div class="col-lg-5 text-center">
          {{$img:= resources.Get (.image) }}
          {{$img:= $img.Resize "520x webp"}}
          <img loading="lazy" decoding="async" src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}" alt="features-image">
        </div>
        <div class="col-lg-5">
          <div class="section-title">
            <p class="caption">{{ .Title }}</p>
            <h2 class="mb-4">{{ .heading | markdownify }}</h2>
            <p class="mb-4">{{ .description | markdownify }}</p>
          </div>
          <div class="row g-4">
            {{ range .features_items }}
            <div class="col-sm-6">
              <div class="rounded-sm border bg-white-blur p-4 text-center h-100" data-aos="cool">
                {{$img:= resources.Get (.image) }}
                {{$img:= $img.Resize "50x webp"}}
                <img loading="lazy" decoding="async" class="mb-3" src="{{$img.RelPermalink}}" alt="icon" width="{{$img.Width}}" height="{{$img.Height}}">
                <h3 class="h5 mb-0">{{.title}}</h3>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}

  {{ if .Params.pricing.enable }}
  {{ with site.GetPage "pricing" }}
  <section >
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-12">
          <div class="section-title text-center mb-0">
            <p class="caption">{{ .Title | markdownify }}</p>
            <h2>{{ .Params.heading | markdownify }}</h2>
          </div>
        </div>
      </div>
      <div class="row g-4">
        {{ range .Params.pricing }}
        <div class="col-xl-3 col-md-6">
          <div class="rounded-sm border bg-white-blur py-5 px-4">
            <h3 class="h6 mb-2">{{.name}}</h3>
            <h4 class="h3 mb-4">{{.price}} - {{ with .per }}<small class="h6 fw-light">{{.}}</small>{{ end }}</h4>
            <ul class="check-list mb-4">
              {{ range .features_list }}
              <li>{{.}}</li>
              {{end}}
            </ul>

            <a href="https://twitter.com/winsol_io" class="btn btn-primary d-block" target="_blank">Launching Soon</a>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="row text-center m-auto g-w mt-2 small mx-3">
        <p>As the size of the pool grows, so will the weekly rewards. Estimates based on 100k staked at winSOL, rewards will start smaller and grow with our stake</p>
      </div>
    </div>
  </section>
  {{ end }}
  {{end }}
  <!--{{ with site.GetPage "blog" }}
  <section class="section" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <p class="caption">{{.Title}}</p>
            <h2 class="title">{{.Params.heading | markdownify}}</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center gy-5">
        &lt;!&ndash; start range &ndash;&gt;
        {{ $homepage_post := .Params.homepage_post }}
        {{ range first $homepage_post .Data.Pages }}

        <div class="col-lg-4 col-md-6">
          {{ .Render "article" }}
        </div>

        {{ end }}
        &lt;!&ndash; end of range &ndash;&gt;
  
        {{ with .Params.button }}
        <div class="col-12 mt-5">
          <div class="text-center">
            <a href="{{ .link | relLangURL }}" class="btn btn-primary" aria-label="see all blog posts">{{.label}}</a>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  {{ end }}
-->

  {{ if .Params.faq.enable }}
  {{ with site.GetPage "faq" }}
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section-title">
            <p class="caption">{{.Title | markdownify}}</p>
            <h2 class="title">{{.Params.heading | markdownify}}</h2>
          </div>
          
          <div class="accordion faq" id="accordionFAQ">
            {{ range $i, $e := .Params.faq }}
            <div class="accordion-item bg-white-blur rounded border">
              <h2 class="accordion-header" id="heading-{{ .title | urlize }}">
                <button class="accordion-button {{if ne $i 0 }}collapsed{{end}} h5 font-secondary border-0" style="font-weight:600" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ .title | urlize }}" aria-expanded="{{if eq $i 0 }}true{{else}}false{{end}}" aria-controls="collapse-{{ .title | urlize }}">{{ .title | markdownify }}</button>
              </h2>
              <div id="collapse-{{ .title | urlize }}" class="accordion-collapse collapse border-0 {{if eq $i 0 }}show{{end}}" aria-labelledby="heading-{{ .title | urlize }}" data-bs-parent="#accordionFAQ">
                <div class="accordion-body">
                  {{ .content | markdownify }}
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0 text-center" >
          {{$img:= resources.Get (.Params.image) }}
          {{$img:= $img.Resize "540x webp"}}
          <img loading="lazy" decoding="async" class="img-fluid" src="{{$img.RelPermalink}}" alt="faq-image" width="{{$img.Width}}" height="{{$img.Height}}">
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}

  {{ with site.GetPage "testimonials" }}
  <!--<section data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <p class="caption">{{.Title | markdownify}}</p>
            <h2 class="title">{{.Params.heading | markdownify}}</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center g-4">
        {{ range first 3 .Params.testimonials }}
        <div class="col-lg-4 col-md-6">
          <div class="text-center">
            <div class="bg-white-blur border-sm rounded-sm p-4 pb-5">
              <p class="mb-2">{{.content}}</p>
            </div>
            <div class="position-relative" style="margin-top:-40px">
              {{$img:= resources.Get (.image) }}
              {{$img:= $img.Resize "80x webp"}}
              <img loading="lazy" decoding="async" class="rounded-circle border-sm mx-auto" src="{{$img.RelPermalink}}" alt="testimonial-image" data-aos="cool" width="{{$img.Width}}" height="{{$img.Height}}">
              <h3 class="h5 mt-3 mb-2">{{.name}}</h3>
              <p class="mb-0">{{.designation}}</p>
            </div>
          </div>
        </div>
        {{ end }}
  
        <div class="col-12 mt-5">
          <div class="text-center">
            <a href="{{ `testimonials/` | relLangURL }}" class="btn btn-primary">All Feedbacks</a>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  {{ end }}


  {{ .Content }}

</main>

{{ end }}