<footer class="section-bordered mb-0 mb-lg-5" data-aos="fade">
  <div class="container">
    <div class="row justify-content-between g-4">
      <div class="col-lg-4 mb-3">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
          {{ if site.Params.logo }}
          {{$img:= resources.Get (site.Params.logo) }}
          <img loading="lazy" decoding="async" src="{{$img.RelPermalink}}" alt="{{ site.Params.logo_text }}" width="{{site.Params.logo_width}}" height="27">
          {{ else }}
          {{site.Params.logo_text | markdownify}}
          {{ end }}
        </a>
        <p class="mt-4">{{site.Params.footer_info}}</p>
      </div>
      <div class="col-lg-6 col-9">
        <div class="row g-4">
          <div class="col-md-4 col-xs-6">
            <div class="footer-widget">
              <h3 class="h5 mb-4">{{ i18n `about`}}</h3>
              <ul class="list-unstyled">
                {{ range site.Menus.about }}
                <li class="mb-2"><a href="{{.URL | absLangURL}}">{{.Name}}</a></li>
                {{end}}
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="footer-widget">
              <h3 class="h5 mb-4">{{ i18n `service`}}</h3>
              <ul class="list-unstyled">
                {{ range site.Menus.service }}
                <li class="mb-2"><a href="{{.URL | absLangURL}}">{{.Name}}</a></li>
                {{end}}
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <div class="footer-widget">
              <h3 class="h5 mb-4">{{ i18n `help`}}</h3>
              <ul class="list-unstyled">
                {{ range site.Menus.help }}
                <li class="mb-2"><a href="{{.URL | absLangURL}}">{{.Name}}</a></li>
                {{end}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-3">
        <div class="text-end">
          <div class="scroll-to-top-btn btn btn-primary rounded-circle"><i class="fas fa-chevron-up"></i></div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between align-items-end mt-3">
      <div class="col-xl-4 col-lg-6 mb-4 mb-xl-0">
        <h5>{{i18n `subscribe_newsletter`}}</h5>
        <form action="{{site.Params.newsletter_form_action}}" class="mt-4">
          <div class="input-group border p-2 rounded-sm">
            <input type="text" class="form-control shadow-none rounded-sm bg-transparent border-0 text-dark" placeholder="{{ i18n `email_address` }}" aria-label="Email Address" aria-describedby="email-address">
            <button type="submit" class="input-group-text btn btn-primary rounded px-3" id="email-address" aria-label="Subscribe to our Newsletter"><i class="fas fa-chevron-right mx-1"></i></button>
          </div>
        </form>
      </div>
      <div class="col-xl-5 col-lg-5 text-start text-xl-center mb-4">
        <p class="mb-0">{{ site.Params.copyright | markdownify }}</p>
      </div>
      <div class="col-xxl-2 col-xl-3 mb-0 mb-xl-4">
        <ul class="list-unstyled list-inline mb-0 text-start text-xl-end">
          {{range site.Params.social }}
          <li class="list-inline-item me-3"><a class="text-dark" href="{{ .link }}" aria-label="social profile"><i class="{{ .icon }}"></i></a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</footer>