{{$page_header:= resources.Get (site.Params.page_header) }}
<section class="page-header section-bordered text-center mt-5" style="background-image:url('{{$page_header.RelPermalink}}')" data-aos="fade">
  <div class="container my-4">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h1 class="mb-4 page-header-title" data-aos="cool" data-aos-delay="150">{{.Title | markdownify}}</h1>
        <ul class="list-inline mb-0 fw-semibold" data-aos="cool" data-aos-delay="200">
          <li class="list-inline-item m-0"><a class="text-primary" href="{{ site.BaseURL | relLangURL }}">Home</a></li>
          <li class="list-inline-item mx-1 text-dark">/</li>
          <li class="list-inline-item m-0">{{ .Title }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>