.banner-title {
  font-size: 56px;
  @include desktop-lg {
    font-size: 48px;
  }
  @include desktop {
    font-size: 36px;
  }
  @include tablet {
    font-size: 32px;
  }
}

.banner-form {
  .input-group {
    @include mobile {
      display: block;
      .form-control {
        width: 100%;
      }
      .input-group-text {
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}

.jumping {
	animation-name: jumping;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes jumping {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0);
	}
}
.random-1 {
	animation-name: random-1;
	animation-duration: 70s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes random-1 {
	from {
		transform: translate(0);
	}
	20% {
		transform: translateY(-40px) translateX(-80px);
	}
	40% {
		transform: translate(0) rotate(60deg);
	}
	60% {
		transform: translateY(40px) translateX(-30px);
	}
	80% {
		transform: translateY(20px) translateX(80px) rotate(-20deg);
	}
	to {
		transform: translate(0);
	}
}
.random-2 {
	animation-name: random-2;
	animation-duration: 80s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes random-2 {
	from {
		transform: translate(0);
	}
	25% {
		transform: translateY(-120px) rotate(30deg);
	}
	50% {
		transform: translateX(-25px) translateY(0) rotate(20deg);
	}
	75% {
		transform: translateY(130px) rotate(0deg);
	}
	to {
		transform: translate(0);
	}
}

.spinn {
	animation-name: spinn;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spinn {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.banner-image {
  position: relative;
  padding-left: 60px;
  padding-right: 25px;
  text-align: center;
  @include mobile {
    padding: 0;
  }
  .lamp,
  .cube,
  .chess {
    position: absolute;
    @include mobile {
      width: 40px !important;
    }
    @include mobile-xs {
      display: none;
    }
  }
  .lamp {
    top: 35%;
    left: 0;
    width: 64px;
    @extend .jumping;
    animation-duration: 3s;
    animation-direction: reverse
  }
  .cube {
    bottom: 45px;
    left: 28%;
    width: 65px;
    @extend .random-1;
  }
  .chess {
    right: 0;
    bottom: 50%;
    width: 65px;
    @extend .random-2;
  }
}

.scroll-to-top-btn {
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
}

// brand-carousel
.brand-carousel {
  max-height: 50px;
  .slick-track {
    display: flex;
    align-items: center;
  }
}


// faq
.faq {
  .accordion-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .accordion-button:not(.collapsed) {
    color: $black;
    background-color: transparent;
  }
  .accordion-button {
    padding-left: 50px;
    margin-bottom: 0;
    &::after {
      position: absolute;
      left: 19px;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333B27C'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
  }
  .accordion-body {
    padding-top: 0;
  }
}

// our-story-images
.our-story-images {
  margin-bottom: 30%;
  @include desktop {
    margin-bottom: 0;
  }
  img:last-child {
    position: absolute;
    top: 30%;
    left: 30%;
    @include desktop {
      position: static;
    }
  }
  img {
    @include desktop {
      margin-right: 25px;
      width: calc(50% - 30px);
    }
    @include mobile {
      &:first-child {
        display: none;
      }
      margin-right: 0;
      width: 100%;
    }
  }
}

// work-process-tab
.work-process-tab {
  li {
    border-bottom: 1px solid $white;
    a {
      padding-bottom: 12px;
      display: block;
    }
    .active {
      color: $primary-color;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        bottom: -1px;
        border-radius: 5px;
        background-color: $primary-color;
        z-index: 1;
        left: 0;
      }
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 15px;
  li {
    display: inline-block;
    padding: 4px;
    font-size: 0;
    button {
      border: 2px solid rgba($white, 0.7);
      height: 12px !important;
      width: 12px !important;
      background-color: transparent;
      margin: 0 4px;
      padding: 0;
      border-radius: 50%;
    }
    &.slick-active button {
      border: 2px solid rgba($primary-color, 0.7);
      background-color: $primary-color;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: calc(50% - 30px);
  height: 50px;
  width: 50px;
  border: 3px solid rgba($white, 0.7);
  border-radius: 50%;
  z-index: 3;
  background-color: transparent;
  color: $white;
  @media (max-width:941px) {
    height: 45px;
    width: 45px;
    border: 2px solid rgba($white, 0.7);
  }
  i {
    padding-top: 5px;
  }
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.tab-slider {
  .slick-arrow.prevArrow {
    left: -60px;
    @media (max-width:941px) {
      left: -40px;
    }
  }
  .slick-arrow.nextArrow {
    right: -60px;
    @media (max-width:941px) {
      right: -40px;
    }
  }
}

.post-slider {
  .slick-arrow {
    opacity: 0;
    &.prevArrow {
      left: 60px;
    }
    &.nextArrow {
      right: 60px;
    }
  }
  &:hover {
    .slick-arrow {
      opacity: 1;
      &.prevArrow {
        left: 30px;
      }
      &.nextArrow {
        right: 30px;
      }
    }
  }
}